Package: dev.adrian.gonerino
Name: Gonerino
Version: 1.8.8
Architecture: iphoneos-arm
Description: Remove videos uploaded by specific channels
Maintainer: Adrian Castro
Author: Adrian Castro
Icon: https://repo.adriancastro.dev/assets/gonerino.svg
Section: Tweaks
Depends: ellekit
Depiction: https://repo.adriancastro.dev/depictions/web/?p=dev.adrian.gonerino
SileoDepiction: https://repo.adriancastro.dev/depictions/native/dev.adrian.gonerino/depiction.json
